<!DOCTYPE html>
<html lang="en">
  <head><title>Completed</title>
    <style>body {margin-left: 50px; margin-top: 80px; width: 800px}</style>
  </head>
  <body>
    <h2>Completion code</h2>
    <p>
      Thank you for taking part in this study. Your completion code is <%= completionCode %>. Please copy+paste this into the MTurk window to claim payment.
    </p>
    <p>
      If you have any questions or complaints about the online experiment itself, please mail Justin at <a href='mailto:mablaboratory@gmail.com' target = '_top'>mablaboratory@gmail.com</a>
    </p>
    <h3>Debriefing</h3>
    <p>The following is a brief description of the study, if you're interested in knowing.</p>
    <p>We are investigating how people gather data before making a decision. You drew beads from an urn until you were ready to make a decision. We measured how many beads you drew. We will analyse whether knowing about other people's decisions affects how you made a decision.</p>
    <p>If you have any further questions about the research, please contact Dr. Ryan McKay (<a href='mailto:ryan.mckay@rhul.ac.uk' target = '_top'>ryan.mckay@rhul.ac.uk</a>).</p>
  </body>
</html>
